body {
    margin: 0;
    padding: 0;
    background-color: #e0dada;
}

.btn, .time, .Submitform-control-md {
    margin-bottom: 20px;
    border-bottom: 5px;
}

.time {
    font-size: larger;
}

.col {
    border: #e0dada;
}